.panel.panel-success#createGoodPanel
    .panel-heading 添加商品
    .panel-body
        label(for="input-id") 在此上传商品图片
        form(enctype='multipart/form-data')
            .form-group
                input#input-id(type='file', data-preview-file-type='text' multiple data-preview-file-icon="" name='photos')
        form.form-horizontal#createGoodForm
            .form-group.col-sm-12.col-md-6
                label.col-sm-2.col-md-3.control-label(for="goodNameInput") 商品名
                .col-sm-10.col-md-9
                    input.form-control#goodNameInput(type="text", placeholder="商品名" name="name" required autofocus)
            .form-group.col-sm-12.col-md-6
                label.col-sm-2.col-md-3.control-label(for="goodBasicPriceInput") 基准价格
                .col-sm-10.col-md-9
                    input.form-control#goodBasicPriceInput(type="number", placeholder="基准价格" step="0.01"  name="buyPrice" required)
            .form-group.col-sm-12.col-md-6
                label.col-sm-2.col-md-3.control-label(for="goodStockInput") 库存
                .col-sm-10.col-md-9
                    input.form-control#goodStockInput(type="number", min="0" max="20000" placeholder="库存" name="stock" required)
            .form-group.col-sm-12.col-md-6
                label.col-sm-2.col-md-3.control-label 重量(kg)
                .col-sm-10.col-md-9
                    input.form-control(type="number",step="0.01" placeholder="重量（暂缓开放）" name="weight" readonly)
            .form-group.col-sm-12.col-md-6
                label.col-sm-2.col-md-3.control-label 体积
                .col-sm-10.col-md-9
                    input.form-control(type="number",step="0.01" placeholder="体积（暂缓开放）" name="volume" readonly)
            .form-group.col-sm-12.col-md-6
                label.col-sm-2.col-md-3.control-label 商品编码
                .col-sm-10.col-md-9
                    input.form-control#goodCodeInput(type="number" name="code" placeholder="商品编码，必须唯一，如不填写将临时生成")
            .form-group.col-sm-12.col-md-6
                label.col-sm-2.col-md-3.control-label 分类
                .col-sm-10.col-md-9
                    .btn-group
                        button.btn.btn-default(type="button") （暂缓开放）
                        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu
                            li
                                a(href="#") 未添加
            .form-group.col-sm-12.col-md-6
                div
                    label.col-sm-2.col-md-3.control-label 邮寄方式
                .col-sm-10.col-md-9
                    .btn-group
                        button.btn.btn-default(type="button") （暂缓开放）
                        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu
                            li
                                a(href="#") 未添加
            .form-group.col-sm-12.col-md-6
                label.col-sm-2.col-md-3.control-label 标签
                .col-sm-10.col-md-9
                    .input-group
                        input.form-control#tagInput(type="text", placeholder="请输入商品标签，便于用户搜索商品，每输入一个标签后请点击右边的添加键")
                        span.input-group-btn
                            a.btn.btn-default#insertTagBtn
                                span.glyphicon.glyphicon-plus-sign
            .col-xs-12
                .panel.panel-default
                    .panel-heading 已添加标签(点击标签可删除)
                    .panel-body#currentLabel
            .col-md-12
                label 商品简介
                input.form-control#goodBriefInput(type="text" name="brief")
            .col-md-12
                label 商品描述
                textarea.form-control#goodDescriptionTextarea(rows="5" name="description")
            .col-md-12
                button.btn.btn-success.btn-lg.btn-block#postGoodBtn(type="submit") 添加商品
