extends layout
block stylesheets
  link(rel='stylesheet', href='/stylesheets/account.css')
block content
  .container.mainContent
    .row
      // TODO: lg-desktop show logo
      //.col-sm-5.col-md-6.logo
      //    img.logo(src='/images/logo.jpeg')
      //    h3 买真品，买放心货。
      .col-md-6
        form.form-signin
          h2.form-signin-heading 请先登录
          label.sr-only(for='inputUsername')
          input#inputUsername.form-control(type='text', placeholder='用户名', required autofocus)
          label.sr-only(for='inputPassword')
          input#inputPassword.form-control(type='password', placeholder='密码', required)
          .checkbox
            label
              input(type='checkbox', value='remember-me')
              |  保持登录
          a#loginBtn.btn.btn-lg.btn-primary.btn-block 登录
          p don't have an account?
            a(href='/register') register
block javascript
  script(data-main="javascripts/account" src="javascripts/lib/require.js")
