extends layout
block stylesheets
    link(rel='stylesheet', href='/stylesheets/index.css')
block sidebar
    aside.sidebar
        nav.sidebar-nav
            ul#menu.metismenu
                li.active
                    a(href='#', aria-expanded='true')
                        span.sidebar-nav-item-icon.fa.fa-github.fa-lg
                        span.sidebar-nav-item 澳品国际
                        span.glyphicon.arrow
                    ul.collapse.in(aria-expanded='true')
                        li
                            a(href='https://github.com/onokumus/metisMenu')
                                span.sidebar-nav-item-icon.fa.fa-code-fork
                                |                   Fork
                        li
                            a(href='https://github.com/onokumus/metisMenu')
                                span.sidebar-nav-item-icon.fa.fa-star
                                |                   Star
                        li
                            a(href='https://github.com/onokumus/metisMenu/issues')
                                span.sidebar-nav-item-icon.fa.fa-exclamation-triangle
                                |                   Issues
                li
                    a(href='#', aria-expanded='false')
                        | Menu 0
                        span.glyphicon.arrow
                    ul.collapse(aria-expanded='false')
                        li
                            a(href='#') item 0.1
                        li
                            a(href='#') item 0.2
                        li
                            a(href='http://onokumus.com') onokumus
                        li
                            a(href='#') item 0.4
                li
                    a(href='#', aria-expanded='false')
                        | Menu 1
                        span.glyphicon.arrow
                    ul.collapse(aria-expanded='false')
                        li
                            a(href='#') item 1.1
                        li
                            a(href='#') item 1.2
                        li
                            a(href='#', aria-expanded='false')
                                | Menu 1.3
                                span.fa.plus-times
                            ul.collapse(aria-expanded='false')
                                li
                                    a(href='#') item 1.3.1
                                li
                                    a(href='#') item 1.3.2
                                li
                                    a(href='#') item 1.3.3
                                li
                                    a(href='#') item 1.3.4
                        li
                            a(href='#') item 1.4
                        li
                            a(href='#', aria-expanded='false')
                                | Menu 1.5
                                span.fa.plus-minus
                            ul.collapse(aria-expanded='false')
                                li
                                    a(href='#') item 1.5.1
                                li
                                    a(href='#') item 1.5.2
                                li
                                    a(href='#') item 1.5.3
                                li
                                    a(href='#') item 1.5.4
                li
                    a(href='#', aria-expanded='false')
                        | Menu 2
                        span.glyphicon.arrow
                    ul.collapse(aria-expanded='false')
                        li
                            a(href='#') item 2.1
                        li
                            a(href='#') item 2.2
                        li
                            a(href='#') item 2.3
                        li
                            a(href='#') item 2.4
block content
    .container-fluid
        .row
            .col-lg-12
                .panel.panel-default
                    .panel-heading 推荐商品
                    .panel-body
                        .row#goods
block javascript
    script(data-main="javascripts/index" src="javascripts/lib/require.js")
