extends layout
block stylesheets
    link(rel='stylesheet', href='/stylesheets/index.css')
block sidebar
    ul.sidebar-nav
        li.sidebar-brand
            a I'm just a test link
block content
    .container-fluid
        .row
            .col-lg-12
                .panel.panel-default
                    .panel-heading 推荐商品
                    .panel-body
                        .row#goods
block javascript
    script(data-main="javascripts/index" src="javascripts/lib/require.js")
