doctype html
html
    head
        meta(charset='utf-8')
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdn.auth0.com/js/lock-6.js')
        script(src='//use.typekit.net/iws6ohy.js')
        script.
            try{Typekit.load();}catch(e){}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // font awesome from BootstrapCDN
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
        script(src='/javascripts/auth0-variables.js')
        script(src='/javascripts/app.js')
        link(href='/stylesheets/app.css', rel='stylesheet')
    body.home
        .container
            .login-page.clearfix
                .login-box.auth0-box.before
                    img(src='https://i.cloudup.com/StzWWrY34s.png')
                    h3 Auth0 Example
                    p Zero friction identity infrastructure, built for developers
                    a.btn.btn-primary.btn-lg.btn-login.btn-block(ng-click='login()') SignIn
                .logged-in-box.auth0-box.logged-in(style='display: none;')
                    h1#logo
                        img(src='/images/auth0_logo_final_blue_RGB.png')
                    img.avatar
                    h2
                        | Welcome
                        span.nickname
                    button.btn.btn-lg.btn-primary.btn-api Call API
