extends layout
block preprocess
    script.
        if (authorization.isAuthenticated()) {
            window.location.href = '/';
        }
block stylesheets
    link(rel='stylesheet', href='/stylesheets/account.css')
block content
    .container.mainContent
        .row
            // TODO: lg-desktop show logo
            //.col-sm-5.col-md-6.logo
            //    img.logo(src='/images/logo.jpeg')
            //    h3 买真品，买放心货。
            .col-md-6
                form.form-signin#registerForm
                    h2.form-signin-heading 注册
                    .form-group
                        label.sr-only(for='inputUsername')
                        input#inputUsername.form-control(type='text', placeholder='用户名', required autofocus aria-describedby="inputUsernameBlock")
                        span.help-block#inputUsernameBlock
                    .form-group
                        label.sr-only(for='inputName')
                        input#inputName.form-control(type='text', placeholder="姓名（选填）"  aria-describedby="inputNameBlock")
                        span.help-block#inputNameBlock
                    .form-group
                        label.sr-only(for='inputPassword')
                        input#inputPassword.form-control(type='password', placeholder='密码', required aria-describedby="inputPasswordBlock")
                        span.help-block#inputPasswordBlock
                    .form-group
                        label.sr-only(for='inputConfirmPassword')
                        input#inputConfirmPassword.form-control(type='password', placeholder='确认密码', required aria-describedby="confirmpasswordblock")
                        span.help-block#confirmpasswordblock
                    .form-group
                        label.sr-only(for='inputEmail')
                        input#inputEmail.form-control(type='email', placeholder='电子邮箱，注册后不可更改', required aria-describedby="inputEmailBlock")
                        span.help-block#inputEmailBlock
                    label.sr-only(for='registerBtn')
                    button.btn.btn-primary.btn-lg.btn-block#registerBtn(type="submit") 注册
                    //input#submitBtn.btn.btn-lg.btn-primary.btn-block(type='submit' value="注册")
                    p 已有帐号?
                        a(href='/account') 转至登录
block javascript
    script(data-main="javascripts/account" src="javascripts/lib/require.js")
