aside.sidebar
    nav.sidebar-nav
        ul#menu.metismenu
            li.active
                a(href='#', aria-expanded='true')
                    span.sidebar-nav-item-icon.glyphicon.glyphicon-th
                    span.sidebar-nav-item 分类
                    span.glyphicon.arrow
                ul.collapse.in(aria-expanded='true')
                    li
                        a(href='#') 所有商品
                    li
                        a(href='#') 新上架
                    li
                        a(href='#') 热销
                    li
                        a(href='#') 高评分
                    li
                        a(href='#') 掌柜推荐
            li
                a(href='#', aria-expanded='false')
                    | 母婴用品
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 0.1
            li
                a(href='#', aria-expanded='false')
                    | 食品
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 1.1
            li
                a(href='#', aria-expanded='false')
                    | 保健品
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 2.1
            li
                a(href='#', aria-expanded='false')
                    | 日用品
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 1.1
            li
                a(href='#', aria-expanded='false')
                    | 服装
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 1.1
            li
                a(href='#', aria-expanded='false')
                    | 鞋帽
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 1.1
            li
                a(href='#', aria-expanded='false')
                    | 奢侈品
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 1.1
            li
                a(href='#', aria-expanded='false')
                    | 玩具
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 1.1
            li
                a(href='#', aria-expanded='false')
                    | 数码
                    span.glyphicon.arrow
                ul.collapse(aria-expanded='false')
                    li
                        a(href='#') item 1.1
