extends ../adminManageLayout
block stylesheets
    link(rel='stylesheet', href='/bower_components/bootstrap-fileinput/css/fileinput.min.css' media="all" type="text/css")
    link(rel='stylesheet', href='/stylesheets/manage/admin/good/insert.css')
block content
    .container-fluid
        include createGoodBlock
block javascript
    script(data-main="/javascripts/manage" src="/javascripts/lib/require.js")
